@use '../../utilities/responsive';


.content {
    background-color: var(--color-dark-200);
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 7rem 0;

    @include responsive.max(36rem) {
        padding: 6rem 0;
    }
    
    &__inner {
        grid-column: inner;
    }
    
    &__column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-xl);

        @include responsive.max(46rem) {
            display: block;

            .content__header-1,
            .content__header-2,
            .content__header-3 {
                padding-bottom: var(--gap-l);
            }

            .content__header-1,
            .content__header-2,
            .content__header-3,
            .content__header-4 {
                h3 {
                    font-size: var(--font-size-4);
                }
            }
        }
    }
    
    &__title {
        margin: 0;
        color: var(--color-accent);
        font-weight: bolder;

        &:hover {
            opacity: 0.9;
            transition: all 0.2s;
        }
    }
    
    &__text {
        p {
            max-width: 500px;
        }
    }
    
    h3 {
        font-size: var(--font-size-4);
    }
}