:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --color-dark: #111;
  --color-dark-200: #222;
  --color-dark-300: rgb(32, 32, 32);
  --color-dark-500: #444;
  --color-dark-600: #555;
  --color-dark-700: #666;
  --color-dark-800: #777;
  --color-dark-900: #888;
  --color-accent: #639181;
  --color-accent-200: #3e6356;
  --color-accent-300: #639181;
  --color-accent-400: #639181;
  --color-accent-500: #639181;
  --color-accent-600: #639181;
  --color-accent-700: #639181;
  --color-accent-800: #639181;
  --color-accent-900: #639181;
  --color-light: #f1f1f1;
  --color-light-200: #e1e1e1;
  --color-light-300: #e1e1e1;
  --color-light-400: #e1e1e1;
  --color-light-500: #e1e1e1;
  --color-light-600: #e1e1e1;
  --color-light-700: #e1e1e1;
  --color-light-800: #e1e1e1;
  --color-light-900: #fff;
  --font-sans-title: "Semplicita", sans-serif;
  --font-sans: "Niveau-Grotesk", sans-serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-inner: 74rem;
  --grid-container: [full-start] minmax(48px, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(48px, 1fr) [full-end];
}
@media screen and (max-width: 480px) {
  :root {
    --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(32px, 1fr) [full-end];
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  max-width: 100%;
}

h4, h5, h6 {
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-sans-title);
}

h2 {
  font-family: var(--font-sans-title);
  color: var(--color-light-200);
  opacity: 0.7;
}

h3 {
  font-family: var(--font-sans-title);
  color: var(--color-light-200);
  opacity: 0.7;
}

h4 {
  font-family: var(--font-sans);
  color: var(--color-light-200);
  opacity: 0.7;
}

p {
  font-family: var(--font-sans);
  line-height: 1.7;
  font-size: var(--font-size-2);
  color: var(--color-light-200);
  opacity: 0.7;
}
@media screen and (max-width: 25rem) {
  p {
    line-height: 1.8;
    font-size: var(--font-size-2);
  }
}

a {
  color: var(--color-dark);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

@media screen and (max-width: 25rem) {
  li {
    line-height: 1.8;
    font-size: var(--font-size-2);
  }
}

figure {
  margin: 0;
  padding: 0;
}

strong {
  color: var(--color-accent);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-sans);
  font-size: var(--font-size-5);
  color: var(--color-light-200);
  line-height: 1.5;
  opacity: 0.7;
}

.site-header {
  position: fixed;
  height: 130px;
  width: 100%;
  padding: 0 var(--gap-m);
  z-index: 999;
}
.site-header__inner {
  padding-top: var(--gap-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  height: 30px;
  width: 30px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu-button:focus .menu-button__hamburger, .menu-button--close .menu-button__hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.menu-button:focus .menu-button__hamburger:before, .menu-button--close .menu-button__hamburger:before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.menu-button:focus .menu-button__hamburger:after, .menu-button--close .menu-button__hamburger:after {
  transition: width 0.2s;
  width: 0;
}
.menu-button__hamburger {
  transform-origin: left top;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, 50%) rotate(0);
  background-color: var(--color-light-200);
}
.menu-button__hamburger:before, .menu-button__hamburger:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  height: 1px;
  width: 100%;
  background-color: var(--color-light-200);
}
.menu-button__hamburger:before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu-button__hamburger:after {
  top: 10px;
  width: 100%;
  transition: width 0.2s 0.2s;
}

.site-menu {
  display: grid;
  background-color: var(--color-dark-200);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  grid-template-columns: var(--grid-container);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.site-menu--forward {
  opacity: 1;
  visibility: visible;
}
.site-menu--forward .site-menu__inner {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.7s, opacity 0.3 0.1s;
}
.site-menu__inner {
  grid-column: inner;
  margin: 20rem 0;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
}
.site-menu__inner a {
  color: var(--color-light-200);
}
.site-menu__inner ul {
  font-family: var(--font-sans-title);
}
.site-menu__inner ul :hover {
  color: var(--color-accent);
  opacity: 0.9;
  transition: all 0.4s;
}

.site-footer {
  height: 200px;
  width: 100%;
  background-color: var(--color-dark);
}
.site-footer h4 {
  display: flex;
  justify-content: center;
  color: #555;
  font-weight: 200;
}

.icones {
  gap: var(--gap-m);
  display: flex;
  justify-content: center;
  margin-bottom: var(--gap-l);
}
.icones__link {
  margin-top: var(--gap-xl);
  display: flex;
  height: 30px;
  width: 30px;
}

.hero {
  display: grid;
  min-height: 100vh;
  background: #111 url(assets/images/picturelinab@2x.png) no-repeat;
  background-size: contain;
  background-position: right 100px;
  grid-template-columns: var(--grid-container);
}
@media screen and (max-width: 42rem) {
  .hero {
    background-size: cover;
  }
}
.hero__inner {
  grid-column: inner;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 43rem) {
  .hero__content {
    margin-top: 300px;
  }
}
.hero__branding-firstname {
  display: block;
  text-align: end;
  margin: 0;
  font-size: clamp(5rem, -2.1341rem + 29.2683vw, 12.5rem);
  color: var(--color-light-200);
}
@media screen and (max-width: 43rem) {
  .hero__branding-firstname {
    text-align: left;
    margin-bottom: 10px;
  }
}
.hero__branding-lastname {
  display: block;
  margin: 0;
  line-height: 0.2;
  font-weight: 200;
  font-size: clamp(3.75rem, 1.372rem + 9.7561vw, 6.25rem);
  color: var(--color-light-200);
}
@media screen and (max-width: 43rem) {
  .hero__branding-lastname {
    text-align: left;
  }
}
.hero__branding-firstname, .hero__branding-lastname {
  animation: fadeIn 3s 0s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
.hero h2 {
  display: block;
  text-align: right;
  margin-top: 4rem;
  font-size: var(--font-size-4);
  font-weight: 200;
  color: var(--color-accent);
  white-space: nowrap;
  font-family: var(--font-sans-title);
}
.hero h2::before {
  content: "< / ";
  color: var(--color-accent);
  opacity: 0.8;
}
.hero h2::after {
  content: " >";
  color: var(--color-accent);
  opacity: 0.8;
}
.hero h2 strong {
  font-weight: 600;
}
@media screen and (max-width: 43rem) {
  .hero h2 {
    text-align: left;
  }
}
@media screen and (max-width: 66rem) {
  .hero h2 {
    font-size: var(--font-size-3);
  }
}
@media screen and (max-width: 36rem) {
  .hero h2 {
    margin-top: 3rem;
    font-size: var(--font-size-2);
  }
}

.content {
  background-color: var(--color-dark-200);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 7rem 0;
}
@media screen and (max-width: 36rem) {
  .content {
    padding: 6rem 0;
  }
}
.content__inner {
  grid-column: inner;
}
.content__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-xl);
}
@media screen and (max-width: 46rem) {
  .content__column {
    display: block;
  }
  .content__column .content__header-1,
  .content__column .content__header-2,
  .content__column .content__header-3 {
    padding-bottom: var(--gap-l);
  }
  .content__column .content__header-1 h3,
  .content__column .content__header-2 h3,
  .content__column .content__header-3 h3,
  .content__column .content__header-4 h3 {
    font-size: var(--font-size-4);
  }
}
.content__title {
  margin: 0;
  color: var(--color-accent);
  font-weight: bolder;
}
.content__title:hover {
  opacity: 0.9;
  transition: all 0.2s;
}
.content__text p {
  max-width: 500px;
}
.content h3 {
  font-size: var(--font-size-4);
}

.project {
  background-image: url(assets/images/background-projects@2x.png);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 6rem 0 1rem 0;
}
.project__inner {
  grid-column: inner;
}
.project__text {
  margin: 2rem 0;
  margin-bottom: 2.5rem;
}
.project__text p {
  max-width: 800px;
}
.project__title {
  font-size: clamp(2rem, 0.0976rem + 7.8049vw, 3rem);
  margin: 0 0 3rem 0;
  color: var(--color-light-200);
  font-weight: bold;
  animation: fadeIn 3s 0s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}
.project__title::before {
  content: "< / ";
  color: var(--color-light-200);
  opacity: 0.7;
}
.project__title::after {
  content: " >";
  color: var(--color-light-200);
  opacity: 0.7;
}
.project__title:hover {
  opacity: 0.8;
  transition: all 0.2s;
}

.swiper {
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 65rem) {
  .swiper {
    margin-top: 1rem;
  }
  .swiper .swiper-button-prev {
    opacity: 0.5;
    left: 10%;
  }
  .swiper .swiper-button-next {
    opacity: 0.5;
    right: 10%;
  }
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide {
  display: flex;
  font-size: 3rem;
  width: 800px;
}
.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}

.swiper-slide-active .slide-2__content {
  opacity: 1;
}

.slide-2__content {
  opacity: 0.5;
  transition: opacity 0.5s 1.5s;
  width: 100%;
}

.swiper-button-prev {
  color: var(--color-light-200);
  opacity: 0.7;
  left: 20%;
}

.swiper-button-next {
  color: var(--color-light-200);
  opacity: 0.7;
  right: 20%;
}

.swiper-pagination-bullet {
  background: var(--color-light-200);
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  gap: var(--gap-m);
  background: var(--color-light);
  opacity: 0.8;
}

.about {
  display: none;
  background-color: var(--color-dark-200);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 7rem 0;
}
@media screen and (max-width: 36rem) {
  .about {
    padding: 6rem 0;
  }
}
.about__inner {
  grid-column: inner;
}
.about__column {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0 0 0;
  gap: 10rem;
}
@media screen and (max-width: 46rem) {
  .about__column {
    display: block;
    max-width: 500px;
  }
}
.about__title {
  font-size: clamp(2rem, 0.0976rem + 7.8049vw, 3rem);
  margin: 0;
  color: var(--color-light-200);
  font-weight: bold;
  opacity: 0.7;
  animation: fadeIn 3s 0s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about__title::before {
  content: "< / ";
  color: var(--color-light-200);
  opacity: 0.7;
}
.about__title::after {
  content: " >";
  color: var(--color-light-200);
  opacity: 0.7;
}
.about__title:hover {
  opacity: 0.8;
  transition: all 0.2s;
}
.about h3 {
  font-size: var(--font-size-4);
}
.about h3 strong {
  font-weight: 800;
}
@media screen and (max-width: 46rem) {
  .about h3 {
    font-size: var(--font-size-3);
  }
}
.about p {
  margin: 0 0 3rem 0;
  max-width: 600px;
}
.about__hope {
  font-size: var(--font-size-3);
  color: var(--color-accent);
  font-weight: 400;
}
@media screen and (max-width: 25rem) {
  .about__hope {
    font-size: var(--font-size-2);
  }
}
.about__work {
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
  margin-bottom: 3rem;
}
.about__about {
  max-width: 600px;
}
@media screen and (max-width: 60rem) {
  .about__about {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 25rem) {
  .about__about {
    text-align: right;
  }
}
.about .button {
  margin-top: 3rem;
  background-color: var(--color-dark-200);
  color: var(--color-accent);
  padding: 1rem 2rem;
  border: 1px solid var(--color-accent-200);
  border-radius: 10px;
  font-size: 1rem;
  font-family: var(--font-sans);
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
}
.about .button:hover {
  background-color: var(--color-accent-200);
  color: var(--color-light-200);
}
.about .button::before {
  content: "< / ";
  color: var(--color-accent);
  opacity: 0.8;
}
.about .button::after {
  content: " >";
  color: var(--color-accent);
  opacity: 0.8;
}
.about .button:hover {
  opacity: 0.8;
  transition: all 0.2s;
}
@media screen and (max-width: 46rem) {
  .about .button {
    margin-top: 10px;
  }
}
.about__educations {
  max-width: 800px;
  margin: 0 0 3rem 0;
}
.about__development, .about__design {
  margin-bottom: 1rem;
  color: var(--color-accent);
  font-weight: 500;
  font-size: var(--font-size-3);
}
@media screen and (max-width: 25rem) {
  .about__development, .about__design {
    font-size: var(--font-size-2);
  }
}
.about ul {
  margin: 0;
  list-style: inside;
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
  color: var(--color-light);
}
.about ul ::marker {
  color: var(--color-accent-200);
}

/*# sourceMappingURL=style.css.map */
